<div class="app-header">

  <div class="logo">
    <img style="width: 250px;" src="/logo.png" alt="Logo">
  </div>

  <div class="header-actions">

    @if (user) {
    <div>

      <img width="70" style="border-radius: 50%;" [src]="user.img" alt="">
      {{ user.name }}
      <button (click)="toggleMenu()" class="btn-outline">
        menu
      </button>
      

    </div>
    }

  </div>

  <mat-progress-bar *ngIf="loading.getLoading()" mode="indeterminate" style="width: 300px;">
  </mat-progress-bar>

</div>