.app-header {
  display: flex;
  flex-direction: row;
  align-items: center; /* ← centra verticalmente */
  justify-content: space-between;
  background-color: color-mix(
    in srgb,
    var(--cv-white) 90%,
    var(--cv-blue) 10%
  );
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-actions {
  display: flex;
  flex-direction: row;
  align-items: center; /* ← centra los botones verticalmente */
  gap: 8px;
  margin-top: 0; /* ← importante */
  margin-left: auto;
}