.sidenav-container {
  height: 100vh;
}

.profile-list { 
  padding-left: 20px;
  padding-right: 20px;
}

.profile-item {
  font-size: medium;
  font-weight: bold;
  border-bottom: 1px solid gray;
  border-radius: 0px !important;
}

.profile-item mat-icon,
.profile-item svg {
  color: var(--cv-blue);
}
.profile-item span {
  color: gray;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 20px;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 12px;
}