<div class="app-header">

  <div class="main-title">
    Nos
    <img class="header-flag"
      src="https://icon2.cleanpng.com/20180722/xf/f6493679307ef0c4454bb883826c6f0b.webp"
      alt="Cape Verde flag" />
    taxi
  </div>
  <div class="main-subtitle">
    O futuro do táxi em Cabo Verde.

    <button style="
    float: right;
    background-color: transparent; 
    border: 1px solid var(--cv-blue); 
    border-radius: 4px;" (click)="debugMode = !debugMode">
      Debug mode
    </button>
  
    <button style="
    float: right;
    background-color: var(--cv-blue); 
    color: white;
    border: 1px solid var(--cv-blue); 
    border-radius: 4px;" (click)="showSelects = !showSelects">
      Ver só o mapa
    </button>

    {{ address }}
    {{ addressDestination }}
    
  </div>

</div>



@if (showSelects) {
<mat-card class="material-proof-card" appearance="outlined" style="margin-top: 8em;">
    @if(!hasLocation) {
      <div>Obtendo localização...</div>
    }

    @if (debugMode) {
<div style="display: flex; flex-direction: row; gap: 16px;">
  debug section

  <div style="background-color: bisque ;">
    <div>mi posicion</div>
    <div>
      longitude: {{ longitude }}
    </div>

    <div>
      latitude: {{ latitude }}
    </div>
  </div>

  <div style="background-color: orange ;">
    <div>posicion donde ir </div>
    <div>
      longitude: {{ longitudeDestination }}
    </div>

    <div>
      latitude: {{ latitudeDestination }}
    </div>
  </div>

</div>
}

    <input 
      class="input-field" 
      matInput 
      type="text" 
      placeholder="Estou em..." 
      [value]="address" 
      readonly 
    />

    <input 
      class="input-field" 
      matInput 
      type="text" 
      placeholder="Selecione o destino no mapa" 
      [value]="addressDestination" 
      readonly 
    />

    <div class="material-proof-actions">
      <button 
      style="
        background-color: transparent; 
        width: 120px;
        height: 32px;
        border: 1px solid var(--cv-blue); 
        border-radius: 4px;" 
      >
      Procurar táxi
      </button>
    </div>

</mat-card>

<!-- Map Section -->
<div class="map-instruction">
  <ul>
    <li>Arraste o mapa com os dedos</li>
  </ul>
</div>
}

<div class="map-section">

  @if (hasLocation) {
  <app-map 
    [mapTileUrl]="tileLayerUrl" 
    [center]="[latitude, longitude]" 
    [routeColor]="routeColor" 
    [user]="userDivIcon"
    [bus]="bus" 
    [destination]="destination"
    [stop]="stop" 
    [stopDisabled]="stopDisabled" 
    (stopClick)="stopClick($event)"
    (lineClick)="lineClick($event)"
    (mapClick)="mapClick($event)"
  >
  </app-map>
  }
</div>

<!--
<div class="vehicle-section">
  <ul class="vehicle-list">
    @for (vehicle of vehicles; track $index) {
      <li class="vehicle-item">
        <div class="item-top">
          <img
            class="item-icon"
            src="https://cdn-icons-png.flaticon.com/512/1801/1801444.png"
            alt="Taxi icon"
          />
          <span>Taxi {{ $index + 1 }}</span>
        </div>
        <div class="item-left">ID: {{ vehicle.id ?? 'N/A' }}</div>
        <div class="item-right">Plate: {{ vehicle.plate ?? 'N/A' }}</div>
        <div class="item-bottom">
          <span>Ready to request</span>
          <button class="call-button" type="button">Call Taxi</button>
        </div>
      </li>
    }
  </ul>
</div>
-->

<router-outlet />