.sidenav-container {
  height: 100vh;
}

.profile-item {
  font-size: medium;
  font-weight: bold;
}

.profile-item mat-icon,
.profile-item span {
  color: var(--cv-blue);
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 20px;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 12px;
}