<app-header></app-header>

<div>

  @if (showSelects) {
  <mat-card class="material-proof-card" appearance="outlined" style="margin-top: 8em;">
    @if(!hasLocation) {
    <div>Obtendo localização...</div>
    } @else {
    <div>Localização obtida</div>
    }


    <p *ngIf="loadingDestinationSuggestions">Carregando sugestões...</p>
    <p style="color: red;" *ngIf="!loadingDestinationSuggestions && destinationSuggestions.length === 0">Nenhuma sugestão encontrada.</p>
    <p *ngIf="!loadingDestinationSuggestions && destinationSuggestions.length > 0">Sugestões encontradas: {{ destinationSuggestions.length }}</p>

    <input class="input-field" matInput type="text" [matAutocomplete]="destinationAuto"
      placeholder="Selecione o destino" [(ngModel)]="addressDestination" (input)="onDestinationInput($event)" />

    <mat-autocomplete #destinationAuto="matAutocomplete"  (optionSelected)="selectDestination($event.option.value)">
      @for (suggestion of destinationSuggestions; track suggestion.tags.name) {
        <mat-option [value]="suggestion">
          {{ suggestion.tags.name }}
        </mat-option>
      }
    </mat-autocomplete>

    <input class="input-field" type="datetime-local" name="pickupTime" id="pickupTime" [(ngModel)]="pickupTime" />

    <button class="btn-outline" (click)="search()">
      Procurar táxi
    </button>

  </mat-card>

  <div class="map-instruction">
    <ul>
      <li>Arraste o mapa com os dedos</li>
    </ul>
  </div>
  }

  <div class="map-section">

    @if (hasLocation) {

    <app-map [mapTileUrl]="tileLayerUrl" [center]="[latitude, longitude]" [routeColor]="routeColor" [user]="userDivIcon"
      [bus]="bus" [destination]="destination" [stop]="stop" [stopDisabled]="stopDisabled"
      (stopClick)="stopClick($event)" (lineClick)="lineClick($event)" (mapClick)="mapClick($event)">

    </app-map>

    }
  </div>
</div>