<app-header></app-header>

<div>

  @if (showSelects) {
  <mat-card class="material-proof-card" appearance="outlined" style="margin-top: 8em;">
    @if(!hasLocation) {
    <div>Obtendo localização...</div>
    }

    <input class="input-field" matInput type="text" placeholder="Estou em..." [value]="address" readonly />

    <input class="input-field" matInput type="text" placeholder="Selecione o destino no mapa"
      [value]="addressDestination" readonly />

    <input class="input-field" type="datetime-local" name="pickupTime" id="pickupTime" [(ngModel)]="pickupTime" />

    <div class="material-proof-actions">
      <button class="btn-outline" (click)="search()">
        Procurar táxi
      </button> 

    </div>

  </mat-card>

  <!-- Map Section -->
  <div class="map-instruction">
    <ul>
      <li>Arraste o mapa com os dedos</li>
    </ul>
  </div>
  }

  <div class="map-section">

    @if (hasLocation) {

    <app-map [mapTileUrl]="tileLayerUrl" [center]="[latitude, longitude]" [routeColor]="routeColor" [user]="userDivIcon"
      [bus]="bus" [destination]="destination" [stop]="stop" [stopDisabled]="stopDisabled"
      (stopClick)="stopClick($event)" (lineClick)="lineClick($event)" (mapClick)="mapClick($event)">

    </app-map>

    }
  </div>
</div>