<app-header></app-header>

<div class="card" style="margin-top: 8em;">
    <h1>Confirmar Pedido de Táxi</h1>

    <p>O seu táxi foi atribuído.</p>

    <hr>

    <h2>Condutor</h2>

    <img src="https://static.vecteezy.com/system/resources/previews/035/599/442/large_2x/portrait-of-a-young-black-african-handsome-driver-in-taxi-car-photo.jpg"
        alt="Foto do condutor" width="120">

    <p><strong>Nome:</strong> João Silva</p>

    <hr>

    <h2>Veículo</h2>

    <p><strong>Matrícula:</strong> CV-12-AB</p>

    <p class="price"><strong>Preço:</strong> 200 CVE</p>

    <hr>

    <button class="btn-outline">Cancelar</button>
    <button class="btn-outline">Confirmar Pedido</button>
</div>